@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#fff;
    --text-color:#221314;
    --second-color:#5a7184;
    --main-color:#6e54fa;
    --big-font:6rem;
    --h2-font:3rem;
    --p-font:1rem;
    --box-shadow:5px 10px 30px rgb(85 85 85 / 20%);
    --box-shadow-hover:5px 30px 56.1276px rgb(55 55 55 / 12%);
    --transition:ease .5s;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);

    /*Overflow-x yatay kaydırma anlamına gelir*/
    overflow-x: hidden;

}

header{

position: fixed;
background-color: var(--text-color);
top: 0;
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px 20%;
z-index: 10000;
width: 100%;
transition: ease .4s;

}


.logo{
    font-size: 30px;
    font-weight: 600;
    color: var(--bg-color);
    letter-spacing: 5px;
}

/* Navbar Başlangıcı */

.navbar a{
    color: var(--bg-color);
    font-size: var(--p-font);
    padding: 10px 20px;
transition: var(--transition);


}

.navbar a:hover{
background-color: var(--bg-color);
color: var(--text-color);
border-radius: 4px;
}


/*Navbar Bitişi*/

section{
    padding: 35px 20%;
}

.home{

background: url('background.jpg');
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
width: 100%;
text-align: center;


}

.home-text h1{
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--bg-color);
    font-family: 'Paytone One';
    letter-spacing:4px;
    margin-bottom: 20px;
    font-weight: 400;
}


.home-text p{
 
    font-family: 'Paytone One';
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
    
}

.home-btn{

display: inline-block;
background-color: var(--bg-color);
color: var(--text-color);
padding: 15px 30px;
border-radius: 8px;
transition: var(--transition);

margin-left: -500px;


}

.row-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
gap: 20px;
}

.row-item{
    border: 1px solid #f0eded ;
    padding: 50px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
    background-color: var(--bg-color);
}


.row-img img{
    width: 80px;
    height: 80px;
background-color: var(--bg-color);
box-shadow: var(--box-shadow);
margin-bottom: 15px;
border-radius: 4px;

}

.row-item h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.row-item:hover{
    box-shadow: var(--box-shadow-hover);
    border: 1px solid transparent;
    transform: translateY(-3px);

}

.text h2{
    margin-bottom: 50px;
}

/*Tur Paketleri Alanı Başlangıcı*/

.package-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    flex-wrap: wrap;
}

.title h2{
    margin-bottom: 15px;
}

.thumbnail{
position: relative;
width: 300px;
height: 400px;
border-radius: 10px;

}

.thumbnail h3{
    position: absolute;
    top: 35px;
    right: 30px;
    font-size: 30px;
    font-weight: 600;
    color: var(--bg-color);
    
}

.thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.dest-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.stars i{
    color: var(--main-color);
    font-size: 20px;
}

.location h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.location p{
    color: var(--second-color);
    font-size: 15px;
}


.thumbnail:hover{
    transform: scale(1.05);
    transition: var(--transition);
    filter: brightness(100%) hue-rotate(45deg);
}


.destination-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}


.col-content{
    width: 350px;
    position: relative;
}

.col-content img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;

}

.col-content h5{
    position: absolute;
    bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--bg-color);
    left: 15px;
}

.col-content p{
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    color: var(--bg-color);
    left: 15px;
    letter-spacing: 3px;
}


.col-content img:hover{
    filter: brightness(100%) hue-rotate(45deg);
    transform: scale(1.05);
    transition: var(--transition);
}

#contact{
    background-color: var(--main-color);
}


.mainContainer{
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.list{
    width: 200px;
}

.list h4{
    font-size: 20px;
    color: var(--bg-color);
    margin-bottom: 10px;
    position: relative;
}

.list h4::before{
    content: "";
    height: 2px;
  width: 50px;
    background-color: var(--bg-color);
    position: absolute;
    bottom: 0;
    transition: var(--transition);
    cursor: pointer;
}

.list h4:hover::before{
    width: 60%;
}

.list ul li a{
    color: #f0eded;
    font-size: var(--p-font);
  margin-bottom: 10px;
  display: block;


}

.list ul li a:hover{
    color: var(--bg-color);
    transform: translateX(20px);
    transition: var(--transition);
}


.icons a{
    background-color: var(--bg-color);
    color: var(--main-color);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
   transition: var(--transition);

}